<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <header>
        <img src="/resources/logo.png" class="logo" ></img>
        <nav class="navigation">
            <button class="btnqsomos">Quienes somos</button>
            <button class="btnservis">Servicios</button>
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>
    <div class="wrapper">
        <span class="icon-close"><ion-icon name="close-outline"></ion-icon></span>
        <div class="form-box login">
            <h2>Login</h2>
            <form action="/controllers/authentication.js" id="formlog">
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                    <input type="email" id="username" name="username" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <input type="password" id="password" name="password" required>
                    <label>Contraseña</label>
                </div>
                <div class="remember-forgot">
                    <button type="submit" class="btn" id="btninit">Login</button>
                </div>
                <div class="login-register">
                    <p>Desea crear cuenta de usuario común? <a href="#" class="register-link">Registrarse</a></p>
                    <p>Desea crear cuenta de veterinaria? <a href="#" class="register-linkveter">Registrarse</a></p>
                </div>
            </form>
        </div>
        <div class="form-box register">
            <h2>Registro</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                    <input type="text" required id="name_u">
                    <label>Nombre</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail-outline"></ion-icon></ion-icon></ion-icon></span>
                    <input type="email" id="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="card-outline"></ion-icon></span>
                    <input type="text" id="Id" required>
                    <label>Id</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="call-outline"></ion-icon></span>
                    <input type="text" id="phone" required>
                    <label>Teléfono</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <input type="password" id="passwordu" required>
                    <label>Contraseña</label>
                </div>
                <div class="remember-forgot">
                    <button type="submit" id="regis-us" class="btn" onclick="event.preventDefault()">Registrarse</button>
                </div>
                <div class="login-register">
                    <p>Ya posee una cuenta? <a href="#" class="login-link">Login</a></p>
                </div>
            </form>
        </div>
        <div class="form-box veter">
            <h2>Registro Veter</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon"><ion-icon name="paw-outline"></ion-icon></ion-icon></span>
                    <input type="text" id="Nveter" required>
                    <label>Nombre de la veterinaria</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="location-outline"></ion-icon></ion-icon></span>
                    <input type="text" id="direc" required>
                    <label>Dirección</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail-outline"></ion-icon></ion-icon></ion-icon></span>
                    <input type="email" id="email_veter" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="call-outline"></ion-icon></span>
                    <input type="text" id="tel" required>
                    <label>Teléfono</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <input type="password" id="pass_veter" required>
                    <label>Contraseña</label>
                </div>
                <div class="remember-forgot">
                    <button type="submit" id="regis-veter" class="btn" onclick="event.preventDefault()">Registrarse</button>
                </div>
                <div class="login-veter">
                    <p>Ya posee una cuenta? <a href="#" class="login-link">Login</a></p>
                </div>
            </form>
        </div>
    </div>
    <div class="wrapper-qsomos">
        <span class="icon-close"><ion-icon name="close-outline"></ion-icon></span>
        <div class="form-box">
            <h2>Quienes somos</h2>
            <p>En Toby Rides, hemos creado un espacio dedicado exclusivamente a brindar atención veterinaria online para perros. Aunque nuestro equipo de desarrollo no está compuesto por veterinarios, nos hemos asociado con expertos del sector para ofrecer una plataforma segura y fácil de usar que conecta a los dueños de perros con veterinarios profesionales.

                Nuestra misión es facilitar el acceso a consultas veterinarias especializadas desde la comodidad de tu hogar. A través de nuestra plataforma, podrás recibir asesoramiento confiable y personalizado sobre la salud y bienestar de tu perro, respaldado por veterinarios con amplia experiencia.
                
                Estamos comprometidos a mejorar la calidad de vida de los perros y a apoyar a los dueños con una herramienta tecnológica que simplifica el cuidado de sus mascotas.</p>
        </div>
    </div>
    <div class="wrapper-servis">
        <span class="icon-close"><ion-icon name="close-outline"></ion-icon></span>
        <div class="form-box">
            <h2>Servicios</h2>
            <p>En Toby Rides, ofrecemos una variedad de servicios diseñados para cubrir las necesidades de salud y bienestar de tu perro. A través de nuestra plataforma, puedes acceder a los siguientes servicios:

                Consultas veterinarias online: Conéctate con veterinarios certificados que te brindarán asesoramiento personalizado sobre la salud de tu perro a través de videollamadas. Obtén respuestas rápidas y confiables sin salir de casa.
                
                Evaluaciones de síntomas: Si tu perro presenta algún síntoma preocupante, nuestros veterinarios te ayudarán a evaluar su estado y determinar si es necesario acudir a una clínica física para un tratamiento más avanzado.
                
                Asesoramiento preventivo: Recibe recomendaciones sobre cuidados preventivos, como planes de vacunación, control de peso, desparasitación y consejos sobre la alimentación más adecuada para tu perro.
                
                Seguimiento de tratamientos: Después de una consulta, podrás realizar el seguimiento del tratamiento y obtener respuestas a cualquier duda que surja durante el proceso de recuperación de tu perro.
                
                Orientación sobre comportamiento canino: Nuestros veterinarios especializados también ofrecen asesoramiento sobre problemas de comportamiento, ayudándote a comprender y corregir conductas inapropiadas o difíciles en tu perro.</p>
        </div>
    </div>
    <script src="/controllers/login.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script type="module" src="/controllers/authentication.js"></script>
    <script type="module" src="/controllers/register_user.js"></script>
    <script type="module" src="/controllers/register_veter.js"></script>
</body>
</html>
