* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

#videoDiv {
  display: grid;
  grid-gap: 10px;
  flex: 1;
  padding: 10px;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  grid-auto-rows: minmax(200px, 1fr);
  justify-items: center;
  align-items: center;
}

.videoWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 10px;
}

#footer {
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ccc;
}

button {
  height: 40px;
  width: 120px;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
  border: none;
  background-color: #0a74da;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: white;
  color: #0a74da;
  border: 2px solid #0a74da;
}